:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f1028;
}

* {
  margin: 0px;
  padding: 0px;
}

.employeeList__header,
.employeeAdd__header {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.employeeList__body,
.employeeAdd__body {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  gap: 8px;
  padding: 12px 24px;
}

.employeeList__tools,
.employeeAdd__tools {
  display: flex;
  gap: 8px;
}

.employeeList__Add > button,
.employeeList__tools > button {
  width: 1.25rem;
  height: 1.25rem;
  background: inherit;
  border: 1px solid white;
  border-radius: 50%;
  transition: 0.2s;
  color: white;
  font-weight: bold;
}

.employeeAdd__tools > button:hover,
.employeeList__tools > button:hover {
  transform: scale(1.2);
  border-radius: 20%;
  transition: 0.2s;
  filter: brightness(0.8);
  cursor: pointer;
}

.employee__entry {
  border: 1px solid white;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.employee__data {
  display: flex;
}

.employee__name {
  font-weight: bold;
  font-size: 1.2rem;
}

.employee__data:nth-child(even) {
  text-justify: right;
}

.employee__tools {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.employee__tools > button {
  padding: 4px;
  background: inherit;
  color: white;
  border: 1px solid white;
  transition: 0.2s;
}

.employee__tools > button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
}

.employeeAdd__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.employeeForm__entry {
  display: flex;
  justify-content: space-between;
}

.employeeForm__entry > * {
  flex: 1;
}

.employeeForm__tools {
  display: flex;
  flex-direction: column;
}